<header classs="site-header">
    <div class="site-header__wrapper">
        <div class="site-header__logo-container">
            <a href="https://www.literatur.ch" target="_blank">
                <p>Solothurner<br>Literaturtage</p>
            </a>
            <div class="logo-container__arrow-box">
                <p>←</p>
            </div>
        </div>
        <div class="site-header__nav-items">
            <div class="nav-items__cart-box">
                <div class="cart-box__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.4161 16.2915"><path d="M6.25,14.4082a1.1289,1.1289,0,1,1-1.1289-1.1289h0A1.1289,1.1289,0,0,1,6.25,14.4082Z"/><path d="M14.3272,14.4082a1.1289,1.1289,0,1,1-1.1288-1.1289h0A1.1289,1.1289,0,0,1,14.3272,14.4082Z"/><path d="M16.701,3.2674a.2241.2241,0,0,0-.2-.1539L3.9714,1.9586a.3882.3882,0,0,1-.289-.173,3.73,3.73,0,0,0-.4689-.6839c-.3-.346-.854-.334-1.8778-.342a.5519.5519,0,0,0-.6225.471c-.0022.0156-.0037.0312-.0045.047a.541.541,0,0,0,.56.5208l.04-.0029a5.349,5.349,0,0,1,1,.07c.1809.051.3269.334.3809.5809v.011c.008.044.077.375.077.379l1.5388,7.7771a2.7914,2.7914,0,0,0,.558,1.3119,1.5617,1.5617,0,0,0,1.2658.6h9.099a.5369.5369,0,0,0,.554-.4929.523.523,0,0,0-.5085-.537c-.01,0-.02,0-.03,0H6.1261a.46.46,0,0,1-.3189-.1,1.6206,1.6206,0,0,1-.442-.9558l-.167-.873a.02.02,0,0,1,.015-.0219L15.8971,7.8169a.2191.2191,0,0,0,.189-.1909l.6149-4.2586A.1993.1993,0,0,0,16.701,3.2674Z"/></svg>
                </div>
                <div class="cart-box__item-count">
                    <p>Warenkorb (1)</p>
                </div>
            </div>
            <div class="nav-items__nav-lang">
                <ul class="nav-lang__list">
                    <li>fr</li>
                    <li>it</li>
                    <li>de</li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
